
<div class="jumbotron" style=''>
  <h1>BreakMC Forums</h1>
  <p>Interact with the staff of the BreakMC network, suggest new ideas and more on the new BreakMC Forums. Make sure to Register in order to post threads!</p>
</div>


<table class="table table-forum">
  {{#unless threads}}
    <h2>There are no threads here yet...</h2>
  {{/unless}}
  <tbody>
    {{#each threads}}
      <!--Thread-->
      <tr>
        <!--Icon-->
        <td class="table-forum--icon">
          <img src="https://minotar.net/avatar/{{user}}" alt="Luca" />
        </td>
        <!--Thread-->
        <td class="table-forum--title forum_cat">
          <a href="/forum/view/{{id}}" class="thread-title">{{titleSnippet}}</a>
          <span class="ago clearfix">{{user}}</span>
        </td>
        <!--No. of Replies-->
        <td class="table-forum--replies">
          <span class="count">{{replies.length}}</span>
          <span class="light clearfix">Replies</span>
        </td>
        <!--No. of Views-->
        <td class="table-forum--views">
          <span class="count">{{views}}</span>
          <span class="light clearfix">Views</span>
        </td>
        <!--Latest Reply-->
        <td class="table-forum--latest">
          <a href="/post/{{id}}">
            <img src="https://minotar.net/avatar/{{user}}" alt="Luca" class="icon" />
            <span class="time">{{time}}</span>
          </a>
          <p>{{snippet}}</p>
        </td>
      </tr>
      <!--Thread-->
    {{/each}}
  </tbody>
</table>

{{#if auth_bool}}
  <a href='/forum/new'><button type="button" class="btn btn-info newThread">New Thread</button></a>
{{/if}}