
<div class="jumbotron" style=''>
  <h1>BreakMC Tickets</h1>
  <p>Reply to player's tickets admins. Ensure you give detailed replies and solve their issue as quickly as possible.</p>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Username</th>
      <th>Type</th>
      <th>Date</th>
      <th>Status</th>
      <th>Replies</th>
    </tr>
  </thead>
  <tbody>
    {{#each tickets}}
      {{#if replies}}
        <tr class='ticketTable warning' onclick='document.location = "/tickets/view/{{id}}"'>
      {{else}}
        <tr class='ticketTable danger' onclick='document.location = "/tickets/view/{{id}}"'>
      {{/if}}
        <td>
          <img src="https://minotar.net/avatar/{{user}}" alt="Luca" style='width:25px;height:25px;padding-right: 2px;'/>
          <a href='/profile/{{user}}'>{{user}}</a>
        </td>
        <td>{{type}}</td>
        <td>{{date}}</td>
        <td>{{status}}</td>
        <td>{{replies.length}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>